In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [2]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [6]:
type(df['email'])

pandas.core.series.Series

In [7]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [8]:
df.count

<bound method DataFrame.count of    first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com>

In [9]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
df.iloc[0] # first row

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [12]:
df.iloc[0,2] # value in cell [0,2]

'CoreyMSchafer@gmail.com'

In [13]:
df.iloc[[0, 1], 2] # first 2 rows

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [14]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [15]:
df.loc[[0,1], ['email','last']] # can use lables

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [16]:
df.set_index('email', inplace=True)

In [17]:
 df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [18]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [19]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [20]:
df.reset_index(inplace=True)

In [21]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [22]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [23]:
df[filt]

               email first last
2  JohnDoe@email.com  John  Doe

In [24]:
df.loc[filt, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [25]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [26]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [27]:
df.columns = [x.upper() for x in df.columns]
df

                     EMAIL  FIRST     LAST
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [28]:
df.columns = ['email', 'first_name', 'last_name']
df

                     email first_name last_name
0  CoreyMSchafer@gmail.com      Corey   Schafer
1        JaneDoe@email.com       Jane       Doe
2        JohnDoe@email.com       John       Doe

In [29]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)

In [30]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [31]:
df.loc[2]

email    JohnDoe@email.com
first                 John
last                   Doe
Name: 2, dtype: object

In [32]:
df.loc[2,['last', 'email']] = ['Smith', 'smith@email.com']
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2          smith@email.com   John    Smith

In [33]:
df['email'].apply(len)

0    23
1    17
2    15
Name: email, dtype: int64

In [34]:
def update_email(email):
    return email.upper()

In [35]:
df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2            SMITH@EMAIL.COM
Name: email, dtype: object

In [36]:
df['email'] = df['email'].apply(update_email)
df

                     email  first     last
0  COREYMSCHAFER@GMAIL.COM  Corey  Schafer
1        JANEDOE@EMAIL.COM   Jane      Doe
2          SMITH@EMAIL.COM   John    Smith

In [37]:
df['email'] = df['email'].apply(lambda x: x.lower())
df

                     email  first     last
0  coreymschafer@gmail.com  Corey  Schafer
1        janedoe@email.com   Jane      Doe
2          smith@email.com   John    Smith

In [38]:
df.apply(pd.Series.min)

email    coreymschafer@gmail.com
first                      Corey
last                         Doe
dtype: object

In [40]:
df.applymap(len)

   email  first  last
0     23      5     7
1     17      4     3
2     15      4     5

In [42]:
df.applymap(str.lower)

                     email  first     last
0  coreymschafer@gmail.com  corey  schafer
1        janedoe@email.com   jane      doe
2          smith@email.com   john    smith

In [47]:
df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

In [48]:
df

                     email  first     last
0  coreymschafer@gmail.com  Chris  Schafer
1        janedoe@email.com   Mary      Doe
2          smith@email.com   John    Smith

In [49]:
df['first'] + ' ' + df['last']

0    Chris Schafer
1         Mary Doe
2       John Smith
dtype: object

In [50]:
df['full_name'] = df['first'] + ' ' + df['last']

In [51]:
df

                     email  first     last      full_name
0  coreymschafer@gmail.com  Chris  Schafer  Chris Schafer
1        janedoe@email.com   Mary      Doe       Mary Doe
2          smith@email.com   John    Smith     John Smith

In [57]:
filt = df['last'] == 'Schafer'

In [58]:
df[filt]

                     email  first     last      full_name
0  coreymschafer@gmail.com  Chris  Schafer  Chris Schafer

In [59]:
df.drop(index=df[filt].index)

               email first   last   full_name
1  janedoe@email.com  Mary    Doe    Mary Doe
2    smith@email.com  John  Smith  John Smith

In [60]:
df

                     email  first     last      full_name
0  coreymschafer@gmail.com  Chris  Schafer  Chris Schafer
1        janedoe@email.com   Mary      Doe       Mary Doe
2          smith@email.com   John    Smith     John Smith